<launch>
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find project)/worlds/empty_movingbox.world"/>
    <!--<arg name="world_name" value="worlds/empty.world"/>-->
    <arg name="gui" value="false"/>
    <arg name="paused" value="false"/>
    <arg name="verbose" value="false" />
    <!-- more default parameters can be changed here -->
  </include>
</launch>