<launch>
  <!-- include file="$(find abb_irb6640_support)/launch/load_irb6640_185_280.launch" / -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find project)/urdf/abb_irb6640_185_280_sim.urdf.xacro'" />
  <node name="joint_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
  <!-- node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" /-->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find project)/rviz/simple.rviz" />
</launch>
